* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    filter: grayscale(1);
    transition: all 2s;
}

img:hover {
    filter: grayscale(0);
    transform: rotate(180deg);
}